@import "_variables.less";

.balance-info {
    text-transform: uppercase;
    border-bottom: 1px @color-background1 solid;
    font-size: 35px;
    .text {
        .font-regular;
    }
    .summa {
        .font-normal;
    }
    .rouble{
        .font-regular;
    }
}
.btn-round2 {
    height: 2.5em;
    border-radius: 1.5em;
    text-transform: uppercase;
    .font-regular;
}


