@import "_variables.less";

.balance-info {
    text-transform: uppercase;
    border-bottom: 1px @color-background1 solid;
    font-size: 35px;
    .text {
        .font-regular;
    }
    .summa {
        .font-normal;
    }
    .rouble{
        .font-regular;
    }
}
.btn-round2 {
    height: 2.5em;
    border-radius: 1.5em;
    text-transform: uppercase;
    .font-regular;
}


.payment-calendar{
    font-size:12px;
    display:block;
    .glyphicon {
        font-size:1.1em;
        margin:0 .2em;
        color:@color-accent1-dark;
    }
    .font-medium;
    
}
.payment-type{
    font-size:12px;
    color:@color-text1;
}