@gray: #c0c0c0;

.doctormainpage {
    .balance-info {
        text-align: center;
        margin-bottom: 0;
        border: none;

        .text {
            .font-light;
            font-size: 18px;
            padding: 0;
            margin: 0;
        }

        .summa {
            .font-medium;
            font-size: 28px;
            color: @color-accent1-light;

            &::after {
                content: 'i';
                .font-rouble;
                text-transform: none;
            }
        }
    }

    #currentdate {
        .font-regular;
        font-size: 25px;
        color: @color-accent1-light;
    }

    #calendar {
        font-size: 12px;
        padding: 0 1em;
        display: inline-block;

        .bootstrap-datetimepicker-widget .datepicker .datepicker-days table .day {
            border-radius: 50%;
            width: 2em;
            height: 2em;
            padding: 0;
        }

        .old, .new {
            visibility: hidden;
        }

        .weekend {
            color: @color-accent8;
        }

        .day.active {
            color: @color-background;
        }
    }
}

.status-select {
    .font-bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #cbcbcb;

    .status-selector {
        vertical-align: middle;
        height: 3em;

        input {
            display: none;
        }

            input:checked + label {
                &::after {
                    left: 2.5em;
                }
            }

        label {
            width: 5em;
            height: 2.5em;
            vertical-align: middle;
            position: relative;
            box-sizing: border-box;



            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-image: url('/img/checkbox_background.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
            }

            &::after {
                content: '';
                height: 2.5em;
                width: 2.5em;
                background-image: url('/img/checkbox_round.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 200ms ease-in-out;
            }
        }
    }

    .status {
        vertical-align: middle;
        color: #adbcda;
        display: inline-block;
        max-width: 120px;
        transition: all 200ms ease-in-out;

        &.active {
            color: #cfb082;
        }
    }
}

.currenttime {
    .font-bold;
    font-size: 20px;

    span {
        .font-light;
        font-size: 24px;
        color: @gray;
    }
}
