.doctormainpage{
    .balance-info{
        text-align:center;
        .summa{
            color:@color-accent1-light;
            &::after{
                content: 'i';
                .font-rouble;
                text-transform:none;
            }
        }
    }
}