.grid{
    display:flex;
    flex-direction:column;
    flex:1;

    .grid-pager{
        line-height:2.5em;
        .font-medium;
        font-size:14px;
        .pagination{
            margin:0 auto;
        }
        
    }
    .grid-content{
        flex:1;
        overflow-y:scroll;
        overflow-x:hidden;
        > table > tbody >tr{
            border-bottom:1px solid @color-background1;
            >td{
                padding-top:15px;
                padding-bottom:15px;
            }
        }
    }
}