.grid{
    display:flex;
    flex-direction:column;
    flex:1;
    .grid-pager{
        line-height:2.5em;
        .font-medium;
        font-size:14px;
        .pagination{
            margin:0 auto;
        }
        
    }
    .grid-content{
        flex:1;
        overflow-y:scroll;
        overflow-x:hidden;
    }
}