@import "sidebar.less";
@import "scrollbar.less";
@import "grid.less";

html,
body {
    height: 100%;
}

.main-container {
    .font-regular;
    height: 100%;
    overflow: auto;
}

.fullheight {
    height: 100%;
    overflow: auto;
}

.sub-container {
    display: flex;
    flex-direction: column;

    > .page-header {
        margin-top: 0;
        margin-bottom: 0;
        overflow-y: hidden;
        padding: 20px 15px 0;
        border: none;
        .font-bold;
        font-size: 20px;
        color: @color-text;

        &.small-bottom-padding {
            &::after {
                content: '';
                display: block;
                width: 100%;
                margin-top: 10px;
                border-bottom: 1px solid @color-background1;
            }
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            margin-top: 40px;
            border-bottom: 1px solid @color-background1;
        }
    }

    > div {
        height: 100%;
        flex: 1;
        overflow-x: auto;
        overflow-y: scroll;

        &.unscrollable {
            overflow-y: auto;
        }
    }
}



.rounded {
    &.dropdown {
        .dropdown-toggle {
            background: @color-background;
            height: 2.5em;
            border-radius: 1.5em;
            width: 100%;
            text-align: left;

            .caret {
                position: absolute;
                right: 1em;
                top: 1.2em;
            }
        }
    }

    &.input-group {

        > input-group-addon {
            height: 2.5em;
        }

        > :first-child {
            border-radius: 1.5em 0 0 1.5em;
        }

        > :last-child {
            border-radius: 0 1.5em 1.5em 0;
        }

        > .form-control {
            height: 100%;
        }
    }

    &.btn {
        height: 35px;
        border-radius: 2em;
        text-transform: uppercase;
        .font-regular;
        font-size: 11px;
        padding: 12px 35px 25px 35px;
        color: white;
    }

    &.btn-default {
        background: @color-btn-default-background;
        background-color: @color-btn-default-background;
    }

    &.pagination {
        > li:first-child > a,
        > li:last-child > a,
        a {
            height: 2.5em;
            width: 2.5em;
            border-radius: 1.5em;
            margin: 0.2em;
        }
    }

    &.form-control {
        height: 2.5em;
        border-radius: 1.5em;
        .font-regular;
    }
}

.linkimage {
    content: '';
    height: 2em;
    width: 2em;
    margin-right: 10px;
    background-size: 100%;
    float: left;
}

.homelink::before {
    .linkimage;
    background-image: url('/img/home_icon_menu.png');
}

.doctorslink::before {
    .linkimage;
    background-image: url('/img/doctor_icon_menu.png');
}

.historylink::before {
    .linkimage;
    background-image: url('/img/calendar_icon_menu.png');
}

.paymentlink::before {
    .linkimage;
    background-image: url('/img/card_icon_menu.png');
}

.myeventslink::before {
    .linkimage;
    background-image: url('/img/calendar_icon_menu.png');
}

.dropdown-scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.modal-dialog {
    width: 700px;
}

.modal-sm {
    width: 400px;
}


.modal-content {
    border-radius: 12px;

    .modal-header {
        border: none;
    }

    .modal-title {
        .font-normal;
        color: black;
        margin-left: 15px;
        margin-top: 8px;
    }

    .modal-body {
        margin: 0 30px;

        p {
            .font-normal;
            font-size: 11px;
            line-height: 20px;
        }

        .sub-title {
            .font-normal;
            font-size: 12px;
            line-height: 20px;
            color: @color-text1;
        }
    }

    .modal-footer {
        border: none;
        background-color: @color-background-table-header;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 25px;

        .btn-round-rd {
            margin: 0;
        }
    }
}

.recommendation-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
