@infosize: 85px;

.timeline {

    .hour {
        display: inline-block;

        .time {
            height: @infosize/2;
            position: relative;
            padding: 1em 0 3em;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                height: 8px;
                top: 0;
                border-left: 1px solid @color-accent8;
            }
        }

        .info.selected {
            border: 3px solid @color-accent1-light;
        }

        .info.working {
            background: @color-accent6;
        }        

        .info.inactive{
            opacity: 0.3;
        }      

        .info.notworking {
            background: @color-accent7;
        }

        .info {
            height: @infosize;
            width: @infosize;
            border: 1px solid @color-accent8;
            box-sizing: border-box;
            display: flex;
            border-collapse: collapse;
            border-radius: 0;
            margin: 0;

            .human {
                background-image: url('/img/human.svg');
                flex:1;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}



.popover.timeline-item {
    .popover-title {
        .font-bold;
        text-transform: uppercase;
        border:none;
    }
   .actions {
    button {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: none;
        background: none;
        border-top:1px solid @color-background1;
        text-transform:lowercase;
        color:#acbcda;
    }
}
}
