<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Информация</h3>
</div>
<div class="modal-body">
    <div class="row row1">
        <div class="pull-left">
            <img class="img-circle doctor-panel-img" ng-src="{{viewModel.item.AvatarUrl}}" height="60" width="60" />
        </div>
        <div class="subtitle">
            <h4 style="line-height: normal" class="pull-left">
                {{viewModel.item.Title}}
                <div class="speciality">{{viewModel.item.Specialization}}</div>
            </h4>
        </div>
    </div>
    <div class="row row2">
        <p>
            {{viewModel.doctorDetails}}
        </p>
    </div>
</div>
<div class="modal-footer">
    <div class="doctor-status row pull-left">
        <div class="col-md-4">
            <div class="status-text">
                {{viewModel.item.StatusText}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <span class="glyphicon status-icon message-icon" ng-class="{'message-icon-disabled': !viewModel.item.IsChatAvailable}"></span>
            </div>
            <div class="col-md-4">
                <span class="glyphicon status-icon voice-icon" ng-class="{'voice-icon-disabled': !viewModel.item.IsAudioAvailable}"></span> 
            </div>
            <div class="col-md-4">
                <span class="glyphicon status-icon video-icon" ng-class="{'video-icon-disabled': !viewModel.item.IsVideoAvailable}"></span>
            </div>
        </div> 
    </div>
    <a class="btn btn-primary rounded" data-dismiss="modal" ng-click="viewModel.ok()" >
        ЗАПИСАТЬСЯ
    </a>
    <a class="btn btn-success start-chat-btn rounded" data-dismiss="modal">
        КОНСУЛЬТАЦИЯ
    </a>
</div>