@model Telemedicine.Web.Model.LoginViewModel
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Телемедицина</title>


    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/OwlCarousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/OwlCarousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/OwlCarousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/login.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/style.min.css">
    

    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="pull-right panel-body">
            <a href="@Url.Action("Login")" type="button" class="btn btn-primary">Войти</a>
            <a href="@Url.Action("Registration")" type="button" class="btn btn-default">Регистрация</a>
        </div>
    </div>
    <div class="container">

        <div class="panel">
            <div class="panel-body">
                <h2>Телемедицина</h2>
                <p class="text-justify">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div id="carousel" class="owl-carousel">
                    @{
                        for (var i = 0; i < 100; i++)
                        {
                            <div class="doctor">
                                <div class="icon">
                                    <img src="~/img/no_avatar.png" />
                                </div>
                                <div class="speciality">Окулист</div>
                                <div class="title">Бобров Бобер Бобрович</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pull-right">
            <a href="#" type="button" class="btn btn-default">Врачам</a>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        $(function () {
            $('#carousel').owlCarousel({
                pagination: false,
                navigation: true
            });
        });
    </script>
</body>

</html>
