@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<a class="btn btn-primary" href="@Url.Action("Testm1", new {id = "Привет"})" data-toggle="modal" data-target="#m1"></a>


<div class="modal fade" id="m1">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>