@model Telemedicine.Web.Areas.Patient.Models.PaymentSettingsViewModel
@{
    ViewBag.Title = "Баланс";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
 
     
    <!--<div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">@ViewBag.Title</h3>
        <div class="unscrollable row container-fluid balance-container">
            <p class="balance-info page-header">
                <span class="text">Баланс</span> <span style="color: #3e67ae" class="summa"> {{viewModel.balance}} ₽</span><span></span>
            </p>
            <p class="debit-text">Снять со счета</p>
            <div class="balance-refill">
                <div class="dropdown rounded form-line" style="width: 100%">
                    <button class="btn btn-default dropdown-toggle left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                        Счет для снятия
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Яндекс.Деньги</a></li>
                        <li><a href="#">Qiwi.Кошелек</a></li>
                        <li><a href="#">Paypal</a></li>
                    </ul>
                </div>
                <div class="row form-line">
                    <div class="col-md-7">
                        <input type="text" class="form-control rounded" ng-model="viewModel.debitValue" placeholder="Сумма платежа">
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-primary rounded" ng-disabled="(viewModel.balance < viewModel.debitValue || !viewModel.balance || !viewModel.debitValue)" ng-click="viewModel.debit()" style="width: 100%">Снять</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="fullheight sub-container row container-fluid" ng-controller="DoctorPaymentController as viewModel" data-id="@ViewBag.DoctorId">
        <h3 style="padding-bottom: 30px;" class="page-header">@ViewBag.Title</h3> 
        <div class="container-fluid row unscrollable" style="display: flex; flex-direction: column;">
            <div class="grid unscrollable payments-grid">
                <div class="grid-header">
                    <div class="grid-header-columns">
                        <div class="grid-col grid-col-33">Дата</div>
                        <div class="grid-col grid-col-33">Сумма</div>
                        <div class="grid-col grid-col-33">Описание</div>
                    </div>
                </div>
                <div class="grid-content">
                    <div class="grid-body" ng-repeat="payment in viewModel.payments">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div> {{payment.Date | toDate | date:'yyyy-MM-dd'}}
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div> {{payment.Date | toDate | date:'HH:mm'}}
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">{{payment.Value}}</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">{{payment.PaymentType}}</div>
                        </div>
                    </div>
                </div>
                <div class="grid-pager row">
                    <div class="col-md-6">Всего записей: {{viewModel.totalCount}}</div>
                    <div class="col-md-6">
                        <nav>
                            <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                        ng-model="viewModel.currentPage"
                                        page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                        total-items="viewModel.totalCount" max-size="6"
                                        rotate="false" boundary-links="false" previous-text="&laquo;"
                                        next-text="&raquo;">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
 