@{
    ViewBag.Title = "Моя запись";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="fullheight sub-container row container-fluid" ng-controller="DoctorAppointmentController as viewModel" data-id="@ViewBag.DoctorId">
    <h1 class="page-header row">@ViewBag.Title</h1>
    <div class="container-fluid unscrollable row" style="display: flex;flex-direction: column">
        <div class="grid">
            <div class="row row-rd" style="padding: 30px 0;">
                <div class="col-md-4">
                    <div class="input-group rounded">
                        <input type="text" class="form-control" placeholder="ФИО пациента" ng-model="viewModel.patientTitleFilter" ng-change="viewModel.loadPage()">
                        <span class="input-group-addon"><span class=" glyphicon glyphicon-search"></span></span>
                    </div>    
                </div>
            </div>
            <div class="page-header">
                <div class="row">
                    <table style="width: 100%">
                        <colgroup>
                            <col style="width: 90px;"/>
                            <col style="width: 413px;"/>
                            <col/>
                            <col style="width: 150px;"/>
                        </colgroup>
                        <tr class="myevent">
                            <th>
                                ФИО
                            </th>
                            <th>
                            </th>
                            <th>
                                Дата
                            </th>
                            <th>    
                                Статус
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="grid-content">
                <table style="width: 100%">
                    <colgroup>
                        <col style="width: 90px;"/>
                        <col style="width: 400px;"/>
                        <col />
                        <col style="width: 150px;"/>
                    </colgroup>
                    <tr class="myevent" ng-repeat="item in viewModel.appointments">
                        <td>
                            <a class="img" href="#" data-toggle="modal" data-target="#infomodaldialog">
                                <img class="img-circle doctor-panel-img" ng-src="{{item.PatientAvatarUrl}}" height="60" width="60" />
                            </a>
                        </td>
                        <td class="text-nowrap">
                            <span style="line-height: normal; float: left;margin-right: 15px">
                                {{item.PatientTitle}}
                            </span>
                            <a href="#" class="info-icon small glyphicon" data-toggle="modal" data-target="#infomodaldialog"></a>
                        </td>
                        <td class="text-nowrap">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div> {{item.Date | date:'dd.MM.yyyy'}}
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div> {{item.Date | date:'HH:mm'}}
                            </div>
                        </td>
                        <td>
                            <div class="input-group rounded" ng-show="viewModel.Status == 'Declined'">
                                <span class="glyphicon cancel-icon"></span>
                                <a class="action" data-toggle="modal" data-target="#appointmentModalDialog" href="#">
                                    отклонено
                                </a>
                            </div>
                            <div class="doctor-panel-btn-group rounded" ng-show="viewModel.Status == 'Closed'">
                                <a class="action" data-toggle="modal" data-target="#appointmentModalDialog" ng-href="@Url.Action("Index", "Home")/#consultation/{{item.ConsultationId}}">
                                    ПОСМОТРЕТЬ
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-pager row">
                <div class="col-md-4">Всего записей: {{viewModel.totalCount}}</div>
                <div class="col-md-4">
                    <nav>
                        <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                    ng-model="viewModel.currentPage"
                                    page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                    total-items="viewModel.totalCount" max-size="6"
                                    rotate="false" boundary-links="false" previous-text="&laquo;"
                                    next-text="&raquo;">
                        </pagination>
                    </nav>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-6">
                        <div class="pull-right">
                            Показывать:
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown rounded dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{viewModel.pageSize}} записей
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="viewModel.changePageSize(10)">10 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(50)">50 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(100)">100 записей</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>