@{
    ViewBag.Title = "Моя запись";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="fullheight sub-container row container-fluid" id="doctorAppointmentController" ng-controller="DoctorAppointmentController as viewModel" data-id="@ViewBag.DoctorId">
    <h1 class="page-header row">@ViewBag.Title</h1>
    <div class="container-fluid unscrollable row" style="display: flex; flex-direction: column">
        <div class="grid" style="font-size: 12px;">
            <div style="padding: 8px;">
                <div class="font-regular" style="display: inline-block; vertical-align: middle; color: #c0c0c0; text-transform: uppercase; font-size: 10px">
                    Отображать<br/>за период
                </div>
                <div style="display: inline-block; vertical-align: middle">
                    <div class="dropdown">
                        <a class="btn btn-white dropdown-toggle rounded" href="#" role="button" id="filter" aria-haspopup="true" aria-expanded="false" style="width: 180px; text-align: left">
                            <span id="dateContainer">Выбрать</span> <span class="caret pull-right" style="position: absolute; right: 2em; top: 1.5em;"></span>
                        </a>
                    </div>
                </div>
                <button class="reverticon" onclick="updateFilter()"></button>
                <div class="pull-right">
                    <button class="btn btn-white rounded" ng-click="viewModel.loadAppointmentPageWithStatusEqualsReady()">Новые</button>
                    <button class="btn btn-default rounded" ng-click="viewModel.loadAppointmentPageWithStatusEqualsClosed()">Завершенные</button>
                </div>
            </div>

            <div class="page-header" style="border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; padding-left: 0;">
                <table style="width: 100%">
                    <tr class="font-bold">
                        <td class="col-md-2 font-bold">Дата</td>
                        <td class="col-md-3">Пациент</td>
                        <td class="col-md-3"></td>
                        <td class="col-md-2">Стоимость</td>
                        <td class="col-md-2"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-content">
                <table style="width: 100%; font-size: 14px;">
                    <tr class="myevent" ng-repeat="item in viewModel.appointments">
                        <td class="col-md-2">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div> {{item.Date | toDate | date:'dd.MM.yyyy'}}
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div> {{item.Date | toDate | date:'HH:mm'}}
                            </div>
                        </td>
                        <td class="col-md-3">{{item.PatientTitle}}</td>
                        <td class="col-md-3">
                            <div class="partdocument orange">Карта пациента</div>
                        </td>
                        <td class="col-md-2">1000 <span class="font-rouble">i</span></td>
                        <td class="col-md-2"><a class="remove orange"  ng-href="@Url.Action("Decline", "Home")/{{item.Id}}">Отменить</a></td>
                    </tr>
                </table>
            </div>
            <div class="grid-pager row">
                <div class="col-md-4">Всего записей: {{viewModel.totalCount}}</div>
                <div class="col-md-4">
                    <nav>
                        <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                    ng-model="viewModel.currentPage"
                                    page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                    total-items="viewModel.totalCount" max-size="6"
                                    rotate="false" boundary-links="false" previous-text="&laquo;"
                                    next-text="&raquo;">
                        </pagination>
                    </nav>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-6">
                        <div class="pull-right">
                            Показывать:
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown rounded dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{viewModel.pageSize}} записей
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="viewModel.changePageSize(10)">10 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(50)">50 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(100)">100 записей</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="filtertemplate" type="t">
    <ul class="filterdates">
        <li>
            <a onclick="today()" id="today">
                Сегодня
            </a>
        </li>
        <li>
            <a id="today" onclick="oneWeek()">
                1 неделя
            </a>
        </li>
        <li>
            <div><a id="range">Указать диапазон</a></div>
            <table>
                <tr>
                    <td>
                        <input type="button" id="from" class="btn btn-white rounded" value="01.07.2015"></input>
                    </td>
                    <td style="color:#e4e4e4">&nbsp;&mdash;&nbsp;</td>
                    <td>
                        <input type="button" id="to" class="btn btn-white rounded" value="01.07.2015"></input>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</script>


@section scripts
{
    <script>
        var popoverelem = $('#filter');
        var firstDateTimePickerChange = false;

        popoverelem.on('show.bs.popover', function() {
            var popover = $(popoverelem).data('bs.popover');
            popover.$tip.addClass('filterdates');
        });
        popoverelem.on('shown.bs.popover', function() {
            var popover = $(popoverelem).data('bs.popover');

          
            

            popover.$tip.find('#from').datetimepicker({
                format: 'DD.MM.YYYY',
                locale: 'ru',
                date: startDate
            }).on('click', function() {
                $(this).datetimepicker('show');
            }).on('dp.change', function(e) { 
                firstDateTimePickerChange = true;
                startDate = $(popoverelem).data('bs.popover').$tip.find('#from').data("DateTimePicker").date(); 
                if (endDate.diff(startDate, 'days') < 0) {
                    $(popoverelem).data('bs.popover').$tip.find('#to').data("DateTimePicker").date(startDate);
                } 
            });

            popover.$tip.find('#to').datetimepicker({
                format: 'DD.MM.YYYY',
                locale: 'ru',
                date: endDate
            }).on('click', function() {
                $(this).datetimepicker('show');
            }).on('dp.change', function (e) { 
                
                if (firstDateTimePickerChange) {
                    firstDateTimePickerChange = false; 
                } else {
                    $('#filter').popover('hide'); 
                }

                endDate = $(popoverelem).data('bs.popover').$tip.find('#to').data("DateTimePicker").date();
                if (endDate.diff(startDate, 'days') <= 0) {
                    $(popoverelem).data('bs.popover').$tip.find('#from').data("DateTimePicker").date(endDate);
                }
                range();
                
            });

        });
        popoverelem.popover({
            container: '.main-container',
            content: $('#filtertemplate').html(),
            placement: 'bottom',
            html: true
        });


        var controller;
        var startDate;
        var endDate;
        $(function() { 
            controller = angular.element(document.getElementById("doctorAppointmentController")).controller(); 
            controller.loadPage();

            startDate = endDate = moment();
            
        });

        function today() {
            startDate = moment().startOf('day');
            endDate = moment().endOf('day');
            updateDateContainer(moment().startOf('day').toDate(), moment().endOf('day').toDate(), true);
            $('#filter').popover('hide');
        }

        function oneWeek() {
            console.log("oneWeek");
            startDate = moment().startOf('week');
            endDate = moment().endOf('week');
            updateDateContainer(startDate, endDate, false);
            $('#filter').popover('hide');
        }


        function range() {
            startDate = $(popoverelem).data('bs.popover').$tip.find('#from').data("DateTimePicker").date();
            endDate = $(popoverelem).data('bs.popover').$tip.find('#to').data("DateTimePicker").date();
            updateDateContainer(moment(startDate), moment(endDate), false);
        }


        function updateFilter() {
            if (moment(startDate).toDate().getDate() == moment(endDate).toDate().getDate()) {
                updateDateContainer(moment(startDate), moment(endDate), true);
            } else {
                updateDateContainer(moment(startDate), moment(endDate), false);
            }

        }


        function updateDateContainer(first, second, isToday) {
            if (isToday) {
                $("#dateContainer").text("Сегодня");
            } else {
                $("#dateContainer").text(moment(first).format("DD.MM.YYYY") + " - " + moment(second).format("DD.MM.YYYY"));
            }

            controller.setStart(moment.utc([moment(first).startOf('day').year(), moment(first).startOf('day').month(), moment(first).startOf('day').date(), 0, 0, 0, 0]));
            controller.setEnd(moment.utc([moment(second).endOf('day').year(), moment(second).endOf('day').month(), moment(second).endOf('day').date(), 23, 59, 59, 0]));

            //controller.setStart(moment(first).utc().startOf('day'));
            //controller.setEnd(moment(second).utc().startOf('day'));
            controller.loadPage();

        }


    </script>
}
