@font-face {
  font-family: 'rouble_1';
  src: url('../css/fonts/rouble_1.otf') format('opentype');
}
@font-face {
  font-family: GothaProReg;
  src: url('/css/fonts/GothaProReg.otf');
}
@font-face {
  font-family: GothaProItalic;
  src: url('/css/fonts/GothaProIta.otf');
}
@font-face {
  font-family: GothaProMedium;
  src: url('/css/fonts/GothaProMed.otf');
}
@font-face {
  font-family: GothaProBold;
  src: url('/css/fonts/GothaProBol.otf');
}
@font-face {
  font-family: 'ALS Rubl';
  src: url('/css/fonts/rouble_1.otf');
}
.font-normal {
  font-family: GothaProMedium, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-regular {
  font-family: GothaProReg, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-bold {
  font-family: GothaProBold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.font-rouble {
  font-family: 'ALS Rubl';
}
/*override variables here*/

/* --- START Sidebar --- */

/*hide for mobile*/

.sidebar {
  background-color: #3e67ae;
  display: none;
  width: 220px;
  min-height: 480px;
}
.sidebar #menu1 {
  /*background-color: @color-accent3;*/
  color: transparent;
  background-image: url('/img/exit_menu.png');
  height: 2em;
  width: 2.5em;
  margin-top: 10px;
  float: right;
  background-position: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebar .username {
    font-weight: bolder;
  }
  .nav-profile {
    height: 100px;
    background-color: #385c9d;
    border-bottom: 1px solid #3e67ae;
  }
  .main-container {
    margin-left: 220px;
  }
}
.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 10px;
  color: white;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #385c9d;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #385c9d;
}
.nav-profile {
  margin: 0 -20px;
  padding: 25px 0;
}
.nav-profile-box {
  height: 50px;
  border: 0;
  padding-left: 10px;
}
.nav-profile-box > span {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  width: 80px;
  padding-left: 10px;
}
.nav-profile > img {
  margin: auto;
}
.nav-profile-box > .icon-go-forward {
  margin-top: 14px;
}
.sidebar-menu-icon {
  margin-right: 20px;
}
.icon-go-forward {
  color: white;
  height: 22px;
  width: 35px;
  line-height: 20px;
  text-align: center;
  padding-left: 10px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border: 0;
  display: inline;
}
.nav-sidebar > .nav-divider {
  padding: 0;
  margin: 0;
  background-color: #33538c;
}
.nav-sidebar > li {
  line-height: 2em;
}
.sidebar-brand {
  bottom: 20px;
  position: fixed;
  font-weight: bolder;
  font-size: 1.5em;
  color: transparent;
  line-height: 25px;
  background-image: url('/img/Logo.png');
  width: 172px;
  height: 73px;
  background-repeat: no-repeat;
  padding: 0;
}
/* --- END Sidebar --- */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  background: #385c9d;
}
::-webkit-scrollbar-track {
  background: #e5e5e5;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #385c9d;
}
.grid {
  display: flex;
  flex-direction: column;
}
.grid .grid-pager {
  line-height: 2.5em;
}
.grid .grid-pager .pagination {
  margin: 0 auto;
}
.grid .grid-content {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
.main-container {
  font-family: GothaProReg, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  overflow: auto;
}
.fullheight {
  height: 100%;
  overflow: auto;
}
.sub-container {
  display: flex;
  flex-direction: column;
}
.sub-container > .page-header {
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: hidden;
  padding: 40px 15px 0;
  border: none;
  font-family: GothaProBold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
.sub-container > .page-header::after {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #e4e4e4;
}
.sub-container > div {
  height: 100%;
  flex: 1;
  overflow-x: auto;
  overflow-y: scroll;
}
.sub-container > div.unscrollable {
  overflow-y: auto;
}
.input-round.dropdown .dropdown-toggle {
  background: white;
  height: 2.5em;
  border-radius: 1.5em;
  width: 100%;
  text-align: left;
}
.input-round.dropdown .dropdown-toggle .caret {
  position: absolute;
  right: 1em;
  top: 1.2em;
}
.input-round.input-group > input-group-addon {
  height: 2.5em;
}
.input-round.input-group > :first-child {
  border-radius: 1.5em 0 0 1.5em;
}
.input-round.input-group > :last-child {
  border-radius: 0 1.5em 1.5em 0;
}
.input-round.input-group > .form-control {
  height: 100%;
}
.input-round.btn {
  height: 2.5em;
  border-radius: 1.5em;
  text-transform: uppercase;
  font-family: GothaProReg, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-round.pagination > li:first-child > a,
.input-round.pagination > li:last-child > a,
.input-round.pagination a {
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.5em;
  margin: 0.2em;
}
.linkimage {
  content: '';
  height: 2em;
  width: 2em;
  margin-right: 10px;
  background-size: 100%;
  float: left;
}
.homelink::before {
  content: '';
  height: 2em;
  width: 2em;
  margin-right: 10px;
  background-size: 100%;
  float: left;
  background-image: url('/img/home_icon_menu.png');
}
.doctorslink::before {
  content: '';
  height: 2em;
  width: 2em;
  margin-right: 10px;
  background-size: 100%;
  float: left;
  background-image: url('/img/doctor_icon_menu.png');
}
.historylink::before {
  content: '';
  height: 2em;
  width: 2em;
  margin-right: 10px;
  background-size: 100%;
  float: left;
  background-image: url('/img/calendar_icon_menu.png');
}
.paymentlink::before {
  content: '';
  height: 2em;
  width: 2em;
  margin-right: 10px;
  background-size: 100%;
  float: left;
  background-image: url('/img/card_icon_menu.png');
}
.myeventslink::before {
  content: '';
  height: 2em;
  width: 2em;
  margin-right: 10px;
  background-size: 100%;
  float: left;
  background-image: url('/img/calendar_icon_menu.png');
}
