/*override variables here*/

/* --- START Sidebar --- */

/*hide for mobile*/

.sidebar {
  background-color: #3e67ae;
  display: none;
  width: 220px;
  min-height: 480px;
}
.sidebar #menu1 {
  background-color: #e79924;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .nav-profile {
    height: 100px;
    background-color: #385c9d;
    border-bottom: 1px solid #3e67ae;
  }
  .main-container {
    margin-left: 220px;
  }
}
.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 10px;
  color: white;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #385c9d;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #385c9d;
}
.nav-profile {
  margin: 0 -20px;
  padding: 25px 0;
}
.nav-profile-box {
  height: 50px;
  border: 0;
  padding-left: 10px;
}
.nav-profile-box > span {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  width: 80px;
  padding-left: 10px;
}
.nav-profile > img {
  margin: auto;
}
.nav-profile-box > .icon-go-forward {
  margin-top: 14px;
}
.sidebar-menu-icon {
  margin-right: 20px;
}
.icon-go-forward {
  color: white;
  height: 22px;
  width: 35px;
  line-height: 20px;
  text-align: center;
  padding-left: 10px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border: 0;
  display: inline;
}
.nav-sidebar > .nav-divider {
  padding: 0;
  margin: 0;
  background-color: #33538c;
}
.nav-sidebar > li {
  line-height: 2em;
}
.sidebar-brand {
  bottom: 20px;
  position: fixed;
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
  line-height: 25px;
  color: #385c9d;
}
/* --- END Sidebar --- */

html,
body {
  height: 100%;
}
.main-container {
  height: 100%;
  background: yellow;
  overflow: auto;
}
.fullheight {
  height: 100%;
  overflow: auto;
}
