body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],
.form-signin input[type="password"], 
.form-signin button[type="submit"]
{
  border-radius: 30px;
  margin-bottom: 20px;
  background: #3e67ae;
}
.form-signin .checkbox {
    margin-bottom: 30px;
}
.checkbox label::before {

}