<li> @Html.ActionLink("Главная", "Index", "Consultation")</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
 <li> @Html.ActionLink("Мои записи", "MyEvents", "Home")</li>  
 <li> @Html.ActionLink("Счет", "MyEvents", "Home")</li>  
 