<div class="target-profile">
    <div class="row">
        <div class="col-sm-5 col-md-4">
            <div class="target-avatar">
                <div class="div-table">
                    <div class="profile-icon">
                        <img class="img-circle" width="70" height="70" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-y62_LeI-lJ7kHcTp3ir74IWFXXUiNj04BCPzm2aK-dcdo2W" />
                    </div>
                    <div class="profile-name">
                        <span>@ViewBag.UserDisplayName</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="consulting-time">
                <div class="div-table consulting-time-wrap">
                    <div class="consulting-time-value tm-text-accent1">
                        11:45
                    </div>
                    <div class="consulting-time-text">
                        время консультации
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-4">
            <div class="chat-btn-box">
                <div class="call-btn-group">
                    <button class="call-btn btn btn-primary" id="makeCallBtn4" disabled><i class="fa fa-phone"></i></button>
                    <button class="call-btn btn btn-primary disabled"><i class="fa fa-video-camera"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
