@model Telemedicine.Web.Areas.Doctor.Models.RecommendationViewModel
<div id="recommendationContainer" class="panel panel-default panel-fixed-height">
<div class="panel-heading">
    <h3 class="panel-title">
        Рекоммендации
    </h3>
    <span class="btn-group pull-right">
            <a class="btn btn-default btn-sm" href="#">Удалить</a>
            <a class="btn btn-default btn-sm" href="#">Добавить</a>
        </span>
    <div class="clearfix"></div>
</div>
<div class="panel-body" style="overflow-y: auto">

</div>
</div>


<div id="ForAddRecommendation">
    
    @using (Ajax.BeginForm("CreateRecommendation", "Recommendations", null,
        new AjaxOptions() { OnSuccess = "OnAddRecommendationSuccess", OnFailure = "OnAddRecommendationFailure", HttpMethod = "Post" },
        new {@class = "form", @role = "form", @id = "addRecommendationform", enctype = "multipart/form-data" }))
    {
        <div class="panel-heading">
            <h3 class="panel-title">
                Рекоммендации
            </h3>
            <span class="btn-group pull-right">
            <a class="btn btn-default btn-sm" onclick=" ShowRecommendationListView(); ">Назад</a>
               @* <input type="file" name="fileControl"/>


            @Html.TextBoxFor(m => m.Attachments, new {type = "file", @class = "btn btn-default btn-sm", @multiple = "multiple"})
    @Html.ValidationMessageFor(m => m.Attachments, null, new {@class = "help-block with-errors"})


        <a class="btn btn-default btn-sm"  >Приложить</a>*@
            <a class="btn btn-default btn-sm" onclick="OnCreateRecommendation();">Создать</a>
        </span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" style="padding: 0px; height: 260px;">
            <div class="form-group">
                @Html.TextAreaFor(m => m.RecommendationText, new {@class = "form-control", @rows = 10, @style = "resize:none;height: 260px; " })
            </div>
        </div> 
    }

</div>


<div id="ForListRecommendation">
    <div class="panel-heading">
        <h3 class="panel-title">
            Рекоммендации
        </h3>
        <span class="btn-group pull-right">
        <a class="btn btn-default btn-sm" href="#" id="deleteRecommentadionBtn" onclick="onDeleteRecommendation(); ">Удалить</a>
        <a class="btn btn-default btn-sm" href="#" id="addRecommentadionBtn" onclick="OnShowRecommendationAddView(); ">Добавить</a>
    </span>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body" style="padding: 0px; overflow-y: scroll; height: 260px;">
        <table id="recommendationListTable" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
            <tr>
                <th>Дата создания</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody id="recommendationTableContent">

            </tbody>
        </table>
    </div>
</div>


<div id="detailRecommendation">
    <div class="panel-heading">
        <h3 class="panel-title">
            Рекоммендации
        </h3>
        <span class="btn-group pull-right">
            <a class="btn btn-default btn-sm" onclick="ShowRecommendationListView();">Назад</a> 
        </span>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body" style="padding: 0px; height: 260px;">
        <textarea id="detailRecommendationTextArea" style="width: 100%; height: 100%; resize:none;"></textarea>
    </div>
</div>