@using Telemedicine.Core.Consts
@using Telemedicine.Core.Domain.Consts
@model Telemedicine.Web.Areas.Doctor.Models.DoctorStatusViewModel


<div class="dropdown" id="statusInformer">
    <div class="btn-group " style="width: 340px;">
        <button style="width: 100%;" type="button" class="btn tm-light-bg status-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span> @Model.CurrentStatus.DisplayName.ToLower()</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            @foreach (var item in Model.AvailableStatuses)
            {
                <li>@Ajax.ActionLink(item.DisplayName, "ChangeStatus", "Status", new {id = item.Id}, new AjaxOptions
                    {
                        HttpMethod = "Post" , UpdateTargetId = "statusInformer"
                    }, null)</li>
            }
        </ul>
    </div>
</div>
