@using Telemedicine.Core.Consts
@using Telemedicine.Core.Domain.Consts
@model Telemedicine.Web.Areas.Doctor.Models.DoctorStatusViewModel

@{
    string btnclass = "";
    switch (Model.CurrentStatus.Name)
    {
        case DoctorStatusNames.Busy:
            btnclass = "btn-danger tm-light-bg";
            break;
        case DoctorStatusNames.Available:
            btnclass = "btn-success tm-light-bg";
            break;
        case DoctorStatusNames.Duty:
            btnclass = "btn-success tm-light-bg";
            break;
        case DoctorStatusNames.VideoChat:
            btnclass = "btn-info tm-light-bg";
            break;
    }
}

<div class="dropdown rounded" id="statusInformer">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        @Model.CurrentStatus.DisplayName.ToLower() <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @foreach (var item in Model.AvailableStatuses)
        {
            <li>
                @Ajax.ActionLink(item.DisplayName, "ChangeStatus", "Status", new {id = item.Id}, new AjaxOptions
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "statusInformer"
                }, null)
            </li>
        }
    </ul>
</div>
