@model Telemedicine.Web.Areas.Patient.Models.ChatDialogViewModel
     
<div class="modal-header">
</div>

<div class="modal-body">
    <div class="sub-title">
        начинается консультация
    </div>
    <div class="text">@Model.DoctorDisplayName</div>
    <div class="speciality">@Model.Specialization</div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary rounded" data-loading-text="Вызов доктора..." id="callToDoctorBtn" onclick="callToDoctor('@Model.DoctorUserId')">Начать консультацию</button> 
    <button type="button" class="btn btn-round-rd rounded" data-dismiss="modal" onclick="cancelCall()">Отмена</button>
</div>
