@using Telemedicine.Core.Models
@model IEnumerable<Telemedicine.Web.Areas.Patient.Models.DoctorViewModel>
@{
    ViewBag.Title = "Консультация";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="fullheight sub-container row container-fluid" ng-controller="DoctorListController as viewModel">
    <h1 class="page-header row">Врачи</h1>
    <div class="container-fluid unscrollable row" style="display: flex; flex-direction: column">
        <div class="grid">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dropdown rounded">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{viewModel.selectedSpecialization ? viewModel.selectedSpecialization.DisplayName : "Выберите специализацию"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-scrollable" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="#" ng-click="viewModel.selectSpecialization(null)">Выберите специализацию</a>
                                </li>
                                <li ng-repeat="s in viewModel.specializations">
                                    <a href="#" ng-click="viewModel.selectSpecialization(s)">{{s.DisplayName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group rounded">
                            <input type="text" class="form-control" placeholder="ФИО врача" ng-model="viewModel.doctorTitleFilter"  ng-change="viewModel.loadPage()">
                            <span class="input-group-addon"><span class=" glyphicon glyphicon-search"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <table style="width: 100%">
                    <colgroup>
                        <col style="width:80px" />
                        <col />
                        <col style="width:160px" />
                        <col style="width:80px" />
                    </colgroup>
                        <tr class="list-doctor-panel" ng-repeat="doctor in viewModel.doctors">
                            <td>
                                <a href="#" ng-click="viewModel.openDetailsDialog(doctor)">
                                    <img class="img-circle doctor-panel-img" ng-src="{{doctor.AvatarUrl}}" height="60" width="60" />
                                </a>
                            </td>
                            <td class="text-nowrap">
                                <span style="line-height: normal; float: left;margin-right: 15px">
                                    {{doctor.Title}} <br/>
                                    <span class="speciality">{{doctor.Specialization}}</span>
                                </span>
                                <a href="#" class="info-icon small glyphicon" ng-click="viewModel.openDetailsDialog(doctor)"></a>
                            </td>
                            <td>
                                <div class="doctor-status container-fluid text-nowrap">
                                    <div class="status-text" style="display: inline-block;width:82px">
                                        {{doctor.StatusText}}
                                    </div>
                                    <span class="text-nowrap">
                                        <span class="glyphicon status-icon message-icon" ng-class="{'message-icon-disabled': !doctor.IsChatAvailable}"></span>
                                        <span class="glyphicon status-icon voice-icon" ng-class="{'voice-icon-disabled': !doctor.IsAudioAvailable}"></span>
                                        <span class="glyphicon status-icon video-icon" ng-class="{'video-icon-disabled': !doctor.IsVideoAvailable}"></span>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="doctor-panel-btn-group rounded text-nowrap" style="display: inline-block">
                                    <a class="btn btn-primary rounded" ng-click="viewModel.openAppintmentDialog(doctor)" title="Записаться">
                                        Записаться
                                    </a>
                                    <a class="btn btn-success start-chat-btn rounded" ng-class="{'disabled': !doctor.IsChatAvailable}" data-toggle="modal" data-target="#waitDoctorAnswerDialog" ng-href="/Patient/Doctor/StartDialog/{{doctor.Id}}" title="Начать чат">
                                        Консультация
                                    </a>
                                </div>
                            </td>
                        </tr>
                </table>
            </div>
            <div class="grid-pager row">
                <div class="col-md-5">Всего записей: {{viewModel.totalCount}}</div>
                <div class="col-md-5">
                    <nav>
                        <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                    ng-model="viewModel.currentPage"
                                    page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                    total-items="viewModel.totalCount" max-size="6"
                                    rotate="false" boundary-links="false" previous-text="&laquo;"
                                    next-text="&raquo;">
                        </pagination>
                    </nav>
                </div>
                <div class="col-md-2 row">
                    <div class="dropdown rounded dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{viewModel.pageSize}} записей
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" ng-click="viewModel.changePageSize(20)">20 записей</a></li>
                            <li><a href="#" ng-click="viewModel.changePageSize(50)">50 записей</a></li>
                            <li><a href="#" ng-click="viewModel.changePageSize(100)">100 записей</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade infomodaldialog" id="infomodaldialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Информация</h3>
                </div>
                <div class="modal-body">
                    <div class="row row1">
                        <div class="pull-left">
                            <img class="img-circle doctor-panel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-y62_LeI-lJ7kHcTp3ir74IWFXXUiNj04BCPzm2aK-dcdo2W" height="60" width="60" />
                        </div>
                        <div class="subtitle">
                            <h4 style="line-height: normal" class="pull-left">
                                Ежов Игорь Николаевич
                                <div class="speciality">Терапевт</div>
                            </h4>
                        </div>
                    </div>
                    <div class="row row2">
                        <p>
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="doctor-status row pull-left">
                        <div class="col-md-3">
                            <div class="status-text">
                                ДОСТУПЕН
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-comment status-icon"></span>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-volume-up status-icon"></span>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-facetime-video status-icon"></span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary rounded" id="modalRequestButton2">
                        ЗАПИСАТЬСЯ
                    </a>
                    <a class="btn btn-success start-chat-btn rounded" data-dismiss="modal">
                        КОНСУЛЬТАЦИЯ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade appointmentmodaldialog" id="appointmentModalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Записаться</h3>
                </div>
                <div class="modal-body">
                    <div class="row row1">
                        <div class="pull-left">
                            <img class="img-circle doctor-panel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-y62_LeI-lJ7kHcTp3ir74IWFXXUiNj04BCPzm2aK-dcdo2W" height="60" width="60" />
                        </div>
                        <div class="subtitle">
                            <h4 style="line-height: normal" class="pull-left">
                                Иванов Арсений Матвеевич
                                <div class="speciality">Терапевт</div>
                            </h4>
                        </div>
                    </div>
                    <div class="row row2">
                        <div id="datetimepicker12"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="doctor-status row pull-left">
                        <div class="status-text">
                            СТОИМОСТЬ КОНСУЛЬТАЦИИ 500 р.
                        </div>
                    </div>
                    <a class="btn btn-primary rounded" data-dismiss="modal" id="modalRequestButton1">
                        ЗАПИСАТЬСЯ
                    </a>
                    <a class="btn btn-success start-chat-btn rounded" data-dismiss="modal">
                        ОТМЕНА
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="waitDoctorAnswerDialog">
        <div class="modal-dialog waitdoctoranswerdialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

    <div class="modal fade doctordeclinecall" id="doctorDeclineCall">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p class="speciality">ИЗВИНИТЕ, ПРИНИМАЮЩИЙ ВРАЧ ОТКЛОНИЛ КОНСУЛЬТАЦИЮ</p>
                    <p class="text">Попробуйте записаться к нему на другое время или выбрать другого врача</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade paymentmodaldialog" id="paymentModalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title pull-left">Оплата консультации</h3>
                    <h3 class="price">500.00 р.</h3>
                </div>
                <div class="modal-body">
                    <div class="row sub-title">
                        Выберите способ оплаты
                    </div>
                    <div class="row">
                        <div class="dropdown rounded">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Средство платежа
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Банковской картой</a></li>
                                <li><a href="#">Webmoney</a></li>
                                <li><a href="#">Мобильный телефон</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary rounded" data-dismiss="modal">
                        ОПЛАТИТЬ
                    </a>
                    <a class="btn rounded btn-round-rd" data-dismiss="modal">
                        ОТМЕНА
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
        $(function () {
            //$('#doctorDeclineCall').modal('show');

            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true,
                locale: 'ru',
                icons: {
                    up: "glyphicon glyphicon-triangle-top",
                    down: "glyphicon glyphicon-triangle-bottom",
                    next: "glyphicon glyphicon-triangle-right",
                    previous: "glyphicon glyphicon-triangle-left"
                }
            });

            $('#waitDoctorAnswerDialog').on('hidden.bs.modal', function () {
                $('#callToDoctorBtn').button('reset');
            });

            signalHub.client.onAcceptCall = function (conversationId) {
                window.location.href = '@Url.Action("Open", "Conversation")/' + conversationId;
            };

            signalHub.client.onDeclineCall = function () {
                console.warn('Call declined by peer.');
                $('#waitDoctorAnswerDialog').modal('hide');
                $('#doctorDeclineCall').modal('show');
            };

            //signalHub.client.onDoctorChangeStatus = function (status) {
            //    alert('test');

            //    $('.doctor-status-text').each(function () {
            //        var id = $(this).data('id');
            //        if (id == status.DoctorId) {
            //            $(this).html(status.StatusText);
            //            var el = $(this);
            //            el.removeClass('text-danger');
            //            el.removeClass('text-success');
            //            el.removeClass('text-info');

            //            if (status.StatusName == "Busy") {
            //                el.addClass('text-danger');
            //            }
            //            if (status.StatusName == "Available") {
            //                el.addClass('text-success');
            //            }
            //            if (status.StatusName == "Duty") {
            //                el.addClass('text-success');
            //            }
            //            if (status.StatusName == "VideoChat") {
            //                el.addClass('text-info');
            //            }
            //        }
            //    });
            //    $('.start-chat-btn').each(function () {
            //        var id = $(this).data('id');
            //        if (id == status.DoctorId) {
            //            if (status.CanCall) {
            //                $(this).removeClass('disabled');
            //            } else {
            //                $(this).addClass('disabled');
            //            }
            //        }
            //    });
            //};

            $("#modalRequestButton1").click(function() {
                $("#appointmentModalDialog").modal("hide");
                $("#paymentModalDialog").modal("show");
            });

            $("#modalRequestButton2").click(function () {
                $("#infomodaldialog").modal("hide");
                $("#appointmentModalDialog").modal("show");
            });
        });

        function callToDoctor(userId) {
            signalHub.server.startCall(userId).done(function (result) {
                if (result.Success) {
                    console.info('Call started, userId: ' + userId);
                    $('#callToDoctorBtn').button('loading');
                    groupId = result.GroupId;
                } else {
                    console.warn('Call not started, userId: ' + userId + ' is not connected!');
                    $('#waitDoctorAnswerDialog').modal('hide');
                    toastr.warning('К сожалению врач не подключен на данный момент!');
                }

            }).fail(function (error) {
                console.error('Invocation of StartCall failed: ' + error);
            });
        }

        function cancelCall() {
            if (groupId) {
                signalHub.server.cancelCall(groupId).done(function () {
                    console.info('Call cancelled by self');
                }).fail(function (error) {
                    console.error('Invocation of CancelCall failed: ' + error);
                });
                groupId = null;
            }
        }
    </script>
}

