<li class="text-center text-uppercase">@Html.ActionLink("Врачи", "Index", "Consultation")</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Моя мед. карта", "Index", "History")</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Счёт", "Index", "Payment")</li>
<li role="separator" class="nav-divider tm-deeper-bg"></li>
<li class="text-center text-uppercase">@Html.ActionLink("Мои записи", "MyEvents", "Home")</li> 
