
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div style="background: greenyellow">
    Контент страницы, у желтого дива паддинги слева справа
</div>

@section styles {
    <style>
        .main-container {
            background: cornflowerblue;
        }
        .main {
            background: yellow;
        }
    </style>
}