@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="row fullheight" style="position: relative" ng-controller="HistoryController as viewModel" data-id="1">
    <div class="col-md-6 fullheight sub-container">
        <h1 class="page-header row">История</h1>
        <div class="content row">
            <div class="chat-nocontent" ng-hide="viewModel.selectedConsultationId">
                <img src="/img/no_chat.png"/>
                <p>
                    Выберите консультацию <br/> для просмотра истории общения
                </p>
            </div>
            <div class="chat-message" ng-repeat="message in viewModel.consultationMessages">
                <img class="chat-image img-circle" ng-class="message.Direction" ng-src="{{message.AvatarUrl}}"/>
                <div class="chat-message" ng-class="message.Direction">
                    <p>{{message.Message}}</p>
                    <div class="chat-details small">
                        {{message.Created | date:'dd.MM.yyyy в HH:mm'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row">Рекомендации</h1>
        <div class="content row">
            <div class="container-fluid recomendation-message-container">
                <div class="recomendation-message" ng-repeat="recommendation in viewModel.recommendations">
                    <div class="timestamp">{{recommendation.Created | date:'dd.MM.yyyy'}}</div>
                    <div class="author">
                        <div class="title">{{recommendation.DoctorTitle}}</div>
                        <div class="speciality">{{recommendation.DoctorSpecialization}}</div>
                    </div>
                    <div class="message">
                        {{recommendation.RecommendationText}}
                    </div>
                    <div class="details">
                        <a id="recommendationDetailId" data-id="{{recommendation.Id}}" data-toggle="modal" data-target="#recommendationDetailDialog"
                            href="@Url.Action("GetRecommendationDetail")/{{recommendation.Id}}" title="Подробнее">
                            Подробнее
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row">Консультации</h1>
        <div class="content row">
            <div class="consultation-message-container">
                <div class="consultation-message"
                     ng-repeat="consultation in viewModel.consultations"
                     ng-click="viewModel.consultationSelect(consultation.Id)"
                     ng-class="{active : consultation.Id === viewModel.selectedConsultationId}">
                    <div class="timestamp">{{consultation.Created | date:'dd.MM.yyyy'}}</div>
                    <div class="author">
                        <div class="title">{{consultation.DoctorTitle}}</div>
                        <div class="speciality">{{consultation.DoctorSpecialization}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="recommendationDetailDialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

    $(function () {
        $("#recommendationDetailId").click(function () {
            
            console.log("click");
        });
    });

    function clearModal(id)
    {
        $('#modal-content').click(function () {
            var url = '@Url.Action("GetRecommendationDetail","Home")';
            $.ajax({
                url: 'Home/action/',
                type: 'GET',
                cache: false,
                data: { id: $(this).data("item-id") },
                success: function (result) {
                    $('#partialView_div').html(result);
                }
            });
            return false;
        });
    };


</script>
}
@section styles{
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/patient.css">
}