@{
    ViewBag.Title = "Моя запись";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="fullheight sub-container row container-fluid" ng-controller="PatientAppointmentController as viewModel" data-id="@ViewBag.PatientId">
    <h1 class="page-header row">@ViewBag.Title</h1>
    <div class="container-fluid unscrollable row" style="display: flex;flex-direction: column">
        <div class="grid">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-1">
                        <b>Дата</b>
                    </div>
                    <div class="col-md-9">
                        <b>Описание</b>
                    </div>
                    <div class="col-md-1">
                        <b>Статус</b>
                    </div>
                </div>
            </div>
            <div class="grid-content">
                <table style="width: 100%">
                    <colgroup>
                        <col style="width:170px" />
                        <col />
                        <col style="width:240px" />
                    </colgroup>
                    <tr class="myevent" ng-repeat="item in viewModel.appointments">
                        <td>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div> {{item.Date | date:'dd.MM.yyyy'}}
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div> {{item.Date | date:'HH:mm'}}
                            </div>
                        </td>
                        <td class="text-nowrap">
                            <span style="line-height: normal; float: left; margin-right: 15px">
                                {{item.DoctorTitle}}<br />
                                <span class="speciality">{{item.DoctorSpecialization}}</span>
                            </span>
                        </td>
                        <td>
                            <div class="doctor-panel-btn-group rounded" ng-show="viewModel.Status == 'Ready'">
                                <a class="btn btn-primary rounded" data-toggle="modal" data-target="#appointmentModalDialog" href="#" title="Начать">
                                    Начать
                                </a>
                            </div>
                            <div class="input-group rounded" ng-show="viewModel.Status == 'Declined'">
                                <span class="glyphicon cancel-icon"></span>
                                <a class="action" data-toggle="modal" data-target="#appointmentModalDialog" href="#">
                                    отклонено
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-pager row">
                <div class="col-md-5">Всего записей: {{viewModel.totalCount}}</div>
                <div class="col-md-4">
                    <nav>
                        <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                    ng-model="viewModel.currentPage"
                                    page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                    total-items="viewModel.totalCount" max-size="6"
                                    rotate="false" boundary-links="false" previous-text="&laquo;"
                                    next-text="&raquo;">
                        </pagination>
                    </nav>
                </div>
                <div class="col-md-3 row">
                    <div class="col-md-6">
                        <div class="pull-right">
                            Показывать:
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown rounded dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{viewModel.pageSize}} записей
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="viewModel.changePageSize(10)">10 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(50)">50 записей</a></li>
                                <li><a href="#" ng-click="viewModel.changePageSize(100)">100 записей</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>