@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.RecommendationViewModel2>

@foreach (var recVM in Model)
    {
        <br />
        <div>
            <h5 style="color:#8D8D8D">@recVM.Date</h5>
            <h6 style="color:#F38C82">@recVM.DoctorFIO</h6>
            <h6 style="color:#828282">@recVM.DoctorSpecialization</h6>
            <p style="color:#000000" class="recommendation-text">@recVM.Content</p>
        </div>
}
