@model Telemedicine.Web.Areas.Patient.Models.PaymentSettingsViewModel
@{
    ViewBag.Title = "Баланс";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative">
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">@ViewBag.Title</h3>
        <div class="unscrollable row container-fluid">
            <p class="balance-info page-header">
                <span>Баланс</span> <span style="color: #3e67ae" class="summa">12 567 Р</span><span></span>
            </p>
            <div class="balance-refill">
                <div class="dropdown rounded" style="width:100%">
                    <button class="btn btn-default dropdown-toggle left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                        Средство платежа
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Средство платежа</a></li>
                        <li><a href="#">Средство платежа</a></li>
                        <li><a href="#">Средство платежа</a></li>
                        <li><a href="#">Средство платежа</a></li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <input type="text" class="form-control rounded" placeholder="Сумма платежа">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary rounded" style="width: 100%">Пополнить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">&nbsp;</h3>
        <div class="container-fluid row" style="display: flex;">
            <div class="grid unscrollable">
                <div class="page-header font-bold">
                    <table style="width: 100%;">
                        <colgroup>
                            <col style="width: 33%; text-align: center"></col>
                            <col style="width: 33%; text-align: center"></col>
                            <col style="width: 33%; text-align: center"></col>
                        </colgroup>
                        <tr>
                            <td>Дата платежа</td>
                            <td>Тип платежа</td>
                            <td>Сумма платежа</td>
                        </tr>
                    </table>
                </div>
                <div class="grid-content">
                    <table style="width: 100%;">
                        <colgroup>
                            <col style="width: 33%;text-align: center"></col>
                            <col style="width: 33%;text-align: center"></col>
                            <col style="width: 33%;text-align: center"></col>
                        </colgroup>
                        <tr>
                            <td>
                                <div class="payment-calendar">
                                    <div class="glyphicon glyphicon-calendar"></div>@DateTime.Now.ToShortDateString()
                                </div>
                                <div class="payment-calendar">
                                    <div class="glyphicon glyphicon-time"></div>@DateTime.Now.ToShortTimeString()
                                </div>
                            </td>
                            <td>
                                <div class="font-bold payment-type">Пополнение</div>
                            </td>
                            <td>
                                <div class="font-medium font12px">12 547 P</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="grid-pager row">
                    <div class="col-md-6">Всего записей - 1000</div>
                    <div class="col-md-6">
                        <nav>
                            <ul class="pagination rounded">
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
