@model Telemedicine.Web.Areas.Patient.Models.PaymentSettingsViewModel
@{
    ViewBag.Title = "Баланс";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative">
    <div class="col-md-6 fullheight sub-container">
        <div class="container-fluid unscrollable">
            <h3 class="page-header row">@ViewBag.Title</h3>

            <p class="balance-info">
                <span>Баланс</span><span style="color: #3e67ae">12 567</span><span>Р</span>
            </p>

            <div class="balance-refill">
                <div class="dropdown grid-filter">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Средство платежа
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Средство платежа</a></li>
                        <li><a href="#">Средство платежа</a></li>
                        <li><a href="#">Средство платежа</a></li>
                        <li><a href="#">Средство платежа</a></li>
                    </ul>
                </div>
            </div>
            <div class="input-group grid-filter">
                <input type="text" class="form-control" placeholder="Сумма платежа">
                <span class="input-group-addon"><span class=" glyphicon glyphicon-search"></span></span>
            </div>
            <button class="btn btn-primary btn-round">Пополнить</button>
        </div>
    </div>
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">&nbsp;</h3>

        <div class="grid">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-4">
                        Дата платежа
                    </div>
                    <div class="col-md-4">
                        Тип платежа
                    </div>
                    <div class="col-md-4">
                        Сумма платежа
                    </div>
                </div>
            </div>
            <div class="grid-content">
                    <div class="panel list-doctor-panel">
                        <div class="row">
                            <div class="col-md-4">
                                 Дата платежа
                            </div>
                            <div class="col-md-4">
                                Тип платежа
                            </div>
                            <div class="col-md-4">
                                Сумма платежа
                            </div>
                        </div>
                    </div>
            </div>
            <div class="grid-pager row">
                <div class="col-md-5">Всего записей - 1000</div>
                <div class="col-md-4">
                    <nav>
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 row">
                    <div class="col-md-6">
                        <div class="pull-right">
                            Показывать:
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown grid-filter">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                10 записей
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">20 записей</a></li>
                                <li><a href="#">50 записей</a></li>
                                <li><a href="#">100 записей</a></li>
                                <li><a href="#">Все записи</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
