@model Telemedicine.Web.Areas.Patient.Models.PaymentSettingsViewModel
@{
    ViewBag.Title = "Баланс и оплата";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative" ng-controller="PatientPaymentController as viewModel" data-id="@ViewBag.PatientId">
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">@ViewBag.Title</h3>
        <div class="unscrollable row container-fluid balance-container">
            <p class="balance-info page-header">
                <span class="text">Баланс</span> <span style="color: #3e67ae" class="summa"> {{viewModel.balance}}  ₽</span><span></span>
            </p>
            <div class="balance-refill">
                <div class="dropdown rounded form-line" style="width: 100%">
                    <button class="btn btn-default dropdown-toggle left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                        Средство платежа
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Банковской картой</a></li>
                        <li><a href="#">Webmoney</a></li>
                        <li><a href="#">Мобильный телефон</a></li>
                    </ul>
                </div>
                <div class="row form-line">
                    <div class="col-md-7">
                        <input type="text" class="form-control rounded" ng-model="viewModel.paymentValue" placeholder="Сумма платежа">
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-primary rounded" ng-click="viewModel.replenish()" style="width: 100%">Пополнить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 fullheight sub-container">
        <h3 class="page-header row">&nbsp;</h3>
        <div class="container-fluid row unscrollable" style="display: flex; flex-direction: column;">
            <div class="grid unscrollable payments-grid">
                <div class="grid-header">
                    <div class="grid-header-columns">
                        <div class="grid-col grid-col-33">Дата платежа</div>
                        <div class="grid-col grid-col-33">Тип платежа</div>
                        <div class="grid-col grid-col-33">Сумма платежа</div>
                    </div>
                </div>
                <div class="grid-content" >
                    <div class="grid-body" ng-repeat="payment in viewModel.payments">
                        <div class="grid-col grid-col-33">
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-calendar"></div>{{ payment.Date  | toDate |  date : 'yyyy-MM-dd'}}
                            </div>
                            <div class="payment-calendar">
                                <div class="glyphicon glyphicon-time"></div>{{payment.Date  | toDate |date : 'HH:mm'}}
                            </div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-bold payment-type">Пополнение</div>
                        </div>
                        <div class="grid-col grid-col-33">
                            <div class="font-medium font12px">{{payment.Value}} ₽</div>
                        </div>
                    </div>
                   
                </div>
                <div class="grid-pager row">
                    <div class="col-md-6">Всего записей: {{viewModel.totalCount}}</div>
                    <div class="col-md-6">
                        <nav>
                            <pagination class="pagination rounded" ng-change="viewModel.loadPage()"
                                        ng-model="viewModel.currentPage"
                                        page="viewModel.currentPage" items-per-page="viewModel.pageSize"
                                        total-items="viewModel.totalCount" max-size="6"
                                        rotate="false" boundary-links="false" previous-text="&laquo;"
                                        next-text="&raquo;">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
