@model Telemedicine.Web.Areas.Patient.Models.PaymentSettingsViewModel
@{
    ViewBag.Title = "Баланс";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative">
    <div class="col-md-6 fullheight sub-container" style="background: red">
        <h3 class="page-header row">@ViewBag.Title</h3>

        <span>Баланс</span><span>12 567</span><span>Р</span>
    </div>
    <div class="col-md-6 fullheight sub-container" style="background: aqua">
        <h3 class="page-header row">&nbsp;</h3>
    </div>
</div>
