 <!-- Responsive calendar - START -->
<div class="responsive-calendar">
    @*<div class="controls">
            <a class="pull-left btn btn-xs btn-primary" data-go="prev"><i class="fa fa-angle-left fa-2x"></i></a>
            <h4><span data-head-year></span> <span data-head-month></span></h4>
            <a class="pull-right btn btn-xs btn-primary" data-go="next"><i class="fa fa-angle-right fa-2x"></i></a>
        </div><hr/>*@
    <div class="day-headers">
        <div class="day header">ПН</div>
        <div class="day header">ВТ</div>
        <div class="day header">СР</div>
        <div class="day header">ЧТ</div>
        <div class="day header">ПТ</div>
        <div class="day header">СБ</div>
        <div class="day header">ВС</div>
    </div>
    <div class="days" data-group="days">
        <!-- the place where days will be generated -->
    </div>
</div>
<!-- Responsive calendar - END -->
 
