<div class="nav-profile-box dropdown">
    @Html.Action("Avatar", "Home")
    <span data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="text-uppercase username" href="#">@ViewBag.DisplayName</span>  
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 100px;">

        <li>@Html.ActionLink("Выход", "LogOff", new {area = "", controller = "Account"})</li>
    </ul>
</div>
