<div class="nav-profile-box dropdown">
    <img class="img-circle" width="50" height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-y62_LeI-lJ7kHcTp3ir74IWFXXUiNj04BCPzm2aK-dcdo2W"/>
    <span class="dropdown-toggle text-uppercase text-left"  href="#"  >@ViewBag.DisplayName</span> 
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left: 100px;"> 
        
        <li>@Html.ActionLink("Выход", "LogOff", new {area = "", controller = "Account"})</li>
    </ul>
    <a class="fa fa-arrow-right tm-dark-bg icon-go-forward pull-right" id="menu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></a>
</div>
