.owl-carousel .doctor {
  width: 96px;
  text-align: center;
}
.owl-carousel .doctor .icon {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  display: block;
}
.owl-carousel .doctor .icon img {
  max-height: 64px;
  max-width: 64px;
}
.owl-carousel .doctor .speciality {
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}
.owl-carousel .doctor .title {
  font-size: 14px;
  color: #333333;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
