@{
    ViewBag.Title = "Консультация пациента";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row fullheight" style="position: relative" ng-controller="HistoryController as viewModel" data-id="1">
    <div class="col-md-9 fullheight sub-container">
        <h1 class="page-header row chat-page-header">
            <div class="col-md-6 flex chat-interlocutor">
                <img class="img-circle doctor-panel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-y62_LeI-lJ7kHcTp3ir74IWFXXUiNj04BCPzm2aK-dcdo2W" height="60" width="60"/>
                <span class="title">
                    Ежов Игорь Николаевич
                </span>
            </div>
            <div class="col-md-4 flex chat-time">
                <div class="time">
                    11:45
                </div>
                <div class="title">Время<br/>консультации
                </div>
            </div>
            <div class="col-md-2 chat-buttons">
                <a href="#" class="btn chat-phone"></a>
                <a href="#" class="btn chat-video"></a>
            </div>
        </h1>
        <div class="content row unscrollable" style="display: flex; flex-direction: column">
            <div class="chat-nocontent" ng-hide="viewModel.selectedConsultationId" style="display: none;">
                <img src="/img/no_chat.png"/>
                <p>
                    Выберите консультацию <br/> для просмотра истории общения
                </p>
            </div>
            <div style="flex: 1; overflow-y: auto;" id="chatMessageList">

            </div>
            <div class="chat-enter-box tm-noactive-bg" id="messageBox">
                <button class="chat-send-btn btn" id="sendMessageBtn"></button>
                <div class="message-input-wrap input-group">
                    <div style="flex: 1; margin-left: 1.5em;">
                        <input class="chat-message-input" id="message-input"/>
                        <ul class="attachments-list" style="display: flex">
                            <li class="attachments-list-item">
                                <div>
                                    <div class="title">Файл 1</div>
                                    <div class="info">15 Кб</div>
                                </div>

                                <div class="btn attachment-remove"></div>
                            </li>
                        </ul>
                    </div>
                    <button class="btn attachment" type="button" style="position: absolute; bottom: 0; right: 0;" data-toggle="modal" data-target="#Attachments"></button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 fullheight sub-container">
        <h1 class="page-header row">История болезни</h1>
        <div class="content row">
            @Html.Action("List2", "Recommendations", new {id = @ViewBag.TargetUserId})
        </div>
    </div>
</div>
<div class="modal fade" id="Attachments" role="dialog" aria-labelledby="AttachmentsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Прикрепление файла</h4>
            </div>
            <div class="modal-body">
                <div class="content-fluid row" style="margin-bottom: 15px;">
                    <button class="btn btn-default rounded fullwidth" onclick="$(this).next().click()">Загрузить новый файл</button>
                    <input type="file" multiple="" style="display: none;"/>
                </div>
                <ul class="list-group attachments-file-list" style="margin-left: -45px; margin-right: -45px;">
                    <li class="list-group-item">
                        <div class="icon doc"></div>
                        <div class="text">
                            <div class="title">Сертификат_1.docx</div>
                            <div class="info">Добавлено 15 июля 2015 в 15:45</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="icon doc"></div>
                        <div class="text">
                            <div class="title">Сертификат_1.docx</div>
                            <div class="info">Добавлено 15 июля 2015 в 15:45</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="icon image"></div>
                        <div class="text">
                            <div class="title">Сертификат_1.docx</div>
                            <div class="info">Добавлено 15 июля 2015 в 15:45</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary rounded">Добавить</button>
                <button type="button" class="btn btn-default rounded" data-dismiss="modal">Закрыть</button>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var conversationId = '@ViewContext.RouteData.Values["id"]';
        var messageHub = $.connection.messageHub;

        function sendMessage(messageText) {
            messageHub.server.sendMessage(conversationId, messageText).done(function () {
                console.info('Message sent to the server');
            }).fail(function (error) {
                console.error('Invocation of sendMessage failed: ' + error);
            });
        }

        function addMessage(message) {
            var created = new Date(message.Created);
            $('#chatMessageList').append('<div class="chat-message">'
                + '<img class="chat-image img-circle ' + message.Direction + '" src="/img/no_avatar.png" />'
                + '<div class="chat-message ' + message.Direction + '"><p>' + message.Message + '</p>'
                + '<div class="chat-details small">' + created.format("dd.MM.yyyy") + " в " + created.format("HH:mm") + '</div></div></div>');

            $(".chat-panel .panel-body").scrollTop($(".chat-panel .panel-body")[0].scrollHeight);
        }

        $(function () {
            //var mbLeft = $('.sidebar').width() + 40;
            //var mbRight = $('#recommendationColumn').width() + 40;
            //$('#messageBox').show();
            //$('#messageBox').css({left: mbLeft, right: mbRight});

            $('#message-input').keyup(function (e) {
                if (e.which === 13) {
                    sendMessage($('#message-input').val());
                    $('#message-input').val('').focus();
                }
            });

            $("#sendMessageBtn").prop("disabled", false);
            $("#message-input").prop("disabled", false);

            $('#sendMessageBtn').click(function () {
                sendMessage($('#message-input').val());
                $('#message-input').val('').focus();
            });

            //$.getJSON("/Chat/Index",
            //    function (result) {
            //        for (var i = 0; i < result.length; i++) {
            //            addMessage(result[i]);
            //        }
            //    }
            //);

            messageHub.client.onMessage = function (message) {
                addMessage(message);
            };
        });
    </script>
}
