@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.RecommendationViewModel2>
<div class="recomendation-message-container">
    @foreach (var recVM in Model)
    {
        <div class="recomendation-message ng-scope" ng-repeat="recommendation in viewModel.recommendations">
            <div class="timestamp ng-binding">@recVM.Date</div>
            <div class="author">
                <div class="title ng-binding">@recVM.DoctorFIO</div>
                <div class="speciality ng-binding">@recVM.DoctorSpecialization</div>
            </div>
            <div class="message ng-binding recommendation-text">
                @recVM.Content
            </div>
            <div class="details">
                <a href="#">Подробнее</a> &gt;
            </div>
        </div>
    }
</div>