@model IEnumerable<Telemedicine.Web.Areas.Doctor.Models.RecommendationViewModel2>
<div class="recomendation-message-container">
    <div class="recomendation-message ng-scope" ng-repeat="recommendation in viewModel.recommendations">
        <div class="timestamp ng-binding">{{recommendation.Created | date:'dd.MM.yyyy'}}</div>
        <div class="author">
            <div class="title ng-binding">{{recommendation.DoctorTitle}}</div>
            <div class="speciality ng-binding">{{recommendation.DoctorSpecialization}}</div>
        </div>
        <div class="message ng-binding recommendation-text">
            {{recommendation.RecommendationText}}
        </div>
        <div class="details">
            <a href="#" ng-click="viewModel.openRecommendationDetails(recommendation)">Подробнее</a> &gt;
        </div>
    </div>
</div>