<div class="modal-header">
</div>

<div class="modal-body">
    <div class="sub-title text-center text-uppercase">
        Запрос видеосвязи:
    </div>
    <p class="text-center">
        @ViewBag.UserDisplayName
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary rounded" id="acceptCallBtn" onclick="acceptVideoCall()">принять</button>
    <button type="button" class="btn btn-round-rd rounded" data-dismiss="modal" id="declineCallBtn" onclick="declineVideoCall()">отклонить</button>
</div>

