<div class="modal-header">
    <h3>Запрос консультации</h3>
</div>

<div class="modal-body">
    С вами хочет начать консультацию пользователь: <br />
    @ViewBag.UserDisplayName
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" id="acceptCallBtn" onclick="acceptCall()">Начать консультацию</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="declineCallBtn" onclick="declineCall()">Отклонить запрос на консультацию</button>
</div>

